html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  background-color: #eee9de;
  font-family: Lato, sans-serif;
}

body {

  margin: 3em .4em;
}

div {
  display: inline-block;
  width: 95%;
  max-width: 380px;
  text-align: left;
  margin: .5em;
}

img {
  width: 99.5%;
  display: block;
}

h2 {
  display: block;
}

section p {
  font-family: sans-serif;
  line-height: 1.5;
  padding-top: 2em;
}

section a {
  display: inline-block;
  padding: .7em;
  border-radius: .5em;
  border: 3px solid #333;
  color: #333;
  text-decoration: none;
}

.btn {
  margin-left: 0;
}

a:hover {
  color: #fff;
  background-color: #666;
  border: 3px solid #666;
}

section {
  vertical-align: middle;
  text-align: center;
  margin: 0;
  padding: 0;

}
