html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  background-color: #eee9de;
  font-family: 'Lato', sans-serif;
}

body {
  margin: auto;
  text-align: center;
}

div {
  display: inline-block;
  width: 95%;
  max-width: 370px;
}
div img {
  width: 95%;
}

h1 {
  display: block;
  text-align: left;
  /*margin: 1.5;*/
}

section p {
  font-family: sans-serif;
  line-height: 1.5;
  text-align: left;
}

section a {
  display: inline-block;
  padding: 1em;
  border-radius: .5em;
  border: 3px solid #333;
  margin-top: 1.5rem;
  color: #333;
  text-decoration: none;
  margin-left: 0;
}

section div .link {
  text-align: left;
  margin-left: 0;
}

a:hover {
  color: #fff;
  background-color: #666;
  border: 3px solid #666;
}

section {
  margin: auto;

}
