html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  margin: 0;
}

div {
  display: inline-block;
  text-align: center;
  margin: 0;
  vertical-align: middle;
}

.one {
  display: inline-block;
  text-align: center;
  padding: 1em;
  max-width: 25em;
  margin-top: 1.5em;
}

.two {
  display: inline-block;
  max-width: 25em;
  text-align: left;
  margin-top: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1.5em;

}

.two p {
  font-family: sans-serif;
  line-height: 1.5;
  padding-top: 2em;
}

.btn {
  display: inline-block;
  padding: .7em;
  border-radius: .5em;
  border: 3px solid #333;
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #fff;
  background-color: #666;
  border: 3px solid #666;
}

section {
  vertical-align: middle;
  text-align: center;
  margin: 0;
  padding: 0;

}
